<?xml version="1.0"?>
<phpunit bootstrap="vendor/autoload.php" colors="true" backupGlobals="false">
    <php>
        <ini name="display_errors" value="stderr" />
    </php>
    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
    </logging>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="Test Suite">
            <directory phpVersion="5.4.0" phpVersionOperator=">=">tests</directory>
        </testsuite>
    </testsuites>

</phpunit>